*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    background-color: rgb(108, 108, 228);
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}

.container{
    display: flex;
}

.navbar{
    width: 20%;
    background: rgb(212, 212, 233);
    padding: 30px;
}

.content{
    width: 80%;
    background: rgb(191, 191, 236);
    padding: 30px;
}


.box{
    padding: 20px;
}